body{
	direction: rtl;
}
table{
	direction: rtl;
	border-collapse: collapse;
}
tr:hover{
	background-color:lightgreen;
}
td, th{
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 5px;
	padding-left: 5px;
	border:solid 1px;
}
th{
	-webkit-print-color-adjust:exact;
	background-color: yellow;
}
input{
	border:none;
}
input[type="text"][value="saturday"]{
	background-color: lightgreen;
}
input[type="text"][value="friday"]{
	background-color: lightblue;
}
input[type="text"][value~="day_off"]{
	background-color: lightgrey;
}
#import_data{
	/*position: absolute;
	left: 0;*/
}
#import_data textarea{
	width: 300px;
	height: 300px;
	float: left;
}
#import_data input{
	float: left;
	clear: both;
}
#exported_data{
	direction: ltr;
	/*position: absolute;
	left: 0;
	top: 340px;*/
	width: 300px;
	height: 300px;
}
#options{
	position: absolute;
	left: 0;
	top:0;	
}
@media print 
{
	.no_print_display 
	{
		display:none;
	}
}
